@model List<Problem>
<h1>Problem List</h1>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Problem List</h2> 
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>     
            <div class="col-6 text-end">
                <a asp-controller="Problem" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add New Problem
                </a>
            </div>
        </div>







        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Problem Name
                    </th>
                    <th>
                       Link
                    </th>
                    <th>
                       Notes
                    </th>
                    <th>
                        Difficulty
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    if (obj.Level == Level.Easy)
                    {
                        <tr style="background-color:lawngreen">
                            <td>@obj.Name</td>
                            <td>
                                <a target="_blank" href="@obj.Link" class="btn btn-secondary mx-2">
                                    LINK
                                </a>
                            </td>
                            <td>@obj.Notes</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Problem" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Problem" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>


                        </tr>
                    }
                      if (obj.Level == Level.Medium)
                    {
                        <tr style="background-color:orange">
                            <td>@obj.Name</td>
                            <td>
                                <a target="_blank" href="@obj.Link" class="btn btn-secondary  mx-2">
                                    LINK
                                </a>
                            </td>
                            <td>@obj.Notes</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Problem" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Problem" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>


                        </tr>
                    }
                    if (obj.Level == Level.Hard)
                    {
                        <tr style="background-color: red">
                            <td>@obj.Name</td>
                            <td>
                                <a target="_blank" href="@obj.Link" class="btn btn-secondary  mx-2">
                                    LINK
                                </a>
                            </td>
                            <td>@obj.Notes</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Problem" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Problem" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>


                        </tr>
                    }
                    }
                   

            </tbody>
        </table>
